body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.align_add_btn_right {
  position: absolute;
  right: 10px;
}

.addItemContainer {
  flex-basis: 40%;
  flex-grow: 1;
  text-align: justify;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  box-shadow: 3px 3px 3px darkgrey;
  box-sizing: border-box;
}

.align-header{
  padding-left: 10px;
}