.todoItemContainer_complete {
    text-decoration: line-through;
    color: darkgrey;
    position: relative;

    flex-basis: 40%;
    flex-grow: 1;
    text-align: justify;
    padding: 10px;

    box-shadow: 3px 3px 3px darkgrey;
    box-sizing: border-box;
}

.todoItemContainer_incomplete {
    color: black;
    position: relative;

    
    flex-basis: 40%;
    flex-grow: 1;
    text-align: justify;
    padding: 10px;

    box-shadow: 3px 3px 3px darkgrey;
    box-sizing: border-box;
}

.todoItemContainer_complete:hover {
    border: 1px solid blue;
}

.todoItemContainer_incomplete:hover {
    border: 1px solid blue;
}

.align_checkbox {
    margin-right: 10px;
}
  